<h1>Editing tooth status</h1>

<%= render "form", tooth_status: @tooth_status %>

<br>

<div>
  <%= link_to "Show this tooth status", @tooth_status %> |
  <%= link_to "Back to tooth statuses", tooth_statuses_path %>
</div>
