<div id="<%= dom_id odontogram %>">
  <p>
    <strong>Patient:</strong>
    <%= odontogram.patient_id %>
  </p>

  <p>
    <strong>Exam date:</strong>
    <%= odontogram.exam_date %>
  </p>

  <p>
    <strong>Exam type:</strong>
    <%= odontogram.exam_type %>
  </p>

</div>
