<h1>Editing odontogram</h1>

<%= render "form", odontogram: @odontogram %>

<br>

<div>
  <%= link_to "Show this odontogram", @odontogram %> |
  <%= link_to "Back to odontograms", odontograms_path %>
</div>
